nav{
    display: flex;
    padding: 1px 90px;
    
    justify-content: space-between;
}
.header{
    background-color: #FFF8F3;


}
.marry{
    font-size: 33px;
}
.marry span{
    color: orangered;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.marryList{
    display: flex;
    align-items: center;
}
.marryList button{
    background-color: orange;
    text-decoration: none;
    border: none;
    color: white;
    padding: 15px 17px;
    font-size: 20px;
    border-radius: 5px;

}
/* Nav section end */
/* bannar section start */
.bannnar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 90px;
}
.bannarPhoto img{
    height: 400px;
}
.comonbtn{
    background-color: orange;
    border: none;
    padding: 15px 15px;
    color: white;
}